<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Tél: </strong>
            <a href="tel:{{ .Site.Data.contact.phone }}" >{{ .Site.Data.contact.phone }}</a></li>
            <li><strong>Tél: </strong>
            <a href="tel:{{ .Site.Data.contact.phone1 }}" >{{ .Site.Data.contact.phone1 }}</a></li>
            <li><strong>Contact: </strong><a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a></li>
            <li><strong>Formulaire: </strong><a href="{{ .Site.Data.contact.form  }}">S'inscrire en formation Kubernetes</a></li>
          </ul>
          <ul>
            <li class="zerostatic"><a
                    href="https://k8s-school.fr">k8s-school.fr</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
