<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Téléphone: </strong>{{ .Site.Data.contact.phone }}</li>
            <li><strong>Contact: </strong><a href="{{ .Site.Data.contact.email }}">
                Formulaire</a></li>
          </ul>
          <ul>
            <li class="zerostatic"><a
                    href="https://k8s-school.github.io">k8s-school.github.io</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
